{% extends "app/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="pb-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group pb-3">
                {{ field.label_tag }}
                {{ field.errors }}
                <input type="{{ field.field.widget.input_type }}"
                    class="form-control"
                    id="{{ field.id_for_label }}"
                    name="{{ field.name }}"
                    value="{{ field.value|default:'' }}"
                    {% if field.required %}required{% endif %}>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}