{% extends "app/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="pb-3">
        {% csrf_token %}
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group pb-3">
                {{ field.label_tag }}
                {{ field.errors }}
                <input type="{{ field.field.widget.input_type }}"
                    class="form-control"
                    id="{{ field.id_for_label }}"
                    name="{{ field.name }}"
                    value="{{ field.value|default:'' }}"
                    {% if field.required %}required{% endif %}>
            </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}